
/venv/
Будет удалено .idea/
Будет удалено TelegramSi8/__pycache__/
Будет удалено TelegramSi8/config.py
Будет удалено db.sqlite3
Будет удалено py_site/__pycache__/
Будет удалено py_site/migrations/__pycache__/
Будет удалено py_telegram/__pycache__/
Будет удалено py_telegram/migrations/__pycache__/
Будет удалено si8_parsing/__pycache__/
Будет удалено si8_parsing/code/__pycache__/
Будет удалено si8_parsing/migrations/__pycache__/
Будет удалено templates/
Будет удалено venv/
/TelegramSi8/config.py
